<div class="starter-questions-wrapper">
    <div class="starter-header">
      <img src="adk-expert.ico" alt="ADK Logo" class="adk-logo" />
      <h3 className="text-5xl mb-4" role="img" aria-label="Robot Waving">👋ADK Expert Agent</h3> 
      <br />
      Hello! I am an <b>expert</b> in Google's <b>Agent Development Kit (ADK)</b>.
      <br />
      <br />
      I can answer <b>any ADK related question</b>, help you <b>write your ADK agents</b>, <b>debug and fix errors</b> in your ADK code, <b>generate unit tests</b> for ADK components and <b>Evalsets for your own agents</b>! 
      <br />
      <br />
      I can also provide you guidance about any of <b>ADK's GitHub issues</b> if you want to contribute to ADK. Furthermore, I can output the information you request in <b>pdf, slides</b> and can also <b>generate architecture diagrams</b>.
      <br />
      <br />
      <b>Important: </b>Since the best model is being used to give you the most accurate and detailed answers, it can take some time to respond to certain queries where deeper analysis is required.
      <br />
      <span class="header-text">
        
      </span>
    </div>
    <div class="questions-grid">
      <button
        *ngFor="let question of starterQuestions"
        class="starter-question-button"
        (click)="onQuestionClick(question)">
        {{ question }}
      </button>
    </div>
  </div>